{% extends "base.html" %}

{% load martortags %}
{% block content %}
    <div class="flex flex-col p-5 mx-auto w-full">
        {% if posts %}
            {% for post in posts %}
                <a href="{% url 'post' post.id %}"
                    class="container mx-auto rounded mb-5 p-5 prose prose-invert hover:bg-gray-700 cursor-pointer">
                    <p class="m-0 mb-1 text-sm">{{ post.date_posted|date:"F d, Y" }}</p>
                    <h2 class="m-0">{{ post.title }}</h2>
                </a>
            {% endfor %}
        {% else %}
            <div class="container prose">
                <h1 class="text-white
                ">No posts found</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}